/* ========== COMMON STYLES ========== */

:root {
  --mainColor: #e51937;	
  --secondaryColor: #fff;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: var(--secondaryColor);
  color: #000;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  background: var(--secondaryColor);
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  font-size: 13px;
  font-weight: 700;
  min-height: 40px;
  min-width: 160px;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    background: var(--mainColor);
    color: var(--secondaryColor);
    cursor: pointer;
  }

  &_color-red {
    background: var(--mainColor);
    border: 2px solid var(--secondaryColor);
    color: var(--secondaryColor);
    transition: all 0.3s;

    &:hover {
      background: var(--secondaryColor);
      color: var(--mainColor);
      cursor: pointer;
    }
  }
}

.order {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 350px;

  &__more {
    align-items: center;
    background: inline(../images/info-icon.png) 0 50% no-repeat;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    min-height: 40px;
    padding-left: 30px;
    text-transform: uppercase;
  }
}

.section-title {
  font-size: 90px;
  font-weight: 600;

  &_big {
    color: var(--mainColor);
    font-size: 14.5vw;
    opacity: .1;
  }

  &_color-red {
    color: var(--mainColor);
    font-size: 70px;
  }
}

.section-subtitle {
  font-size: 30px;
  font-weight: 600;
}

.text-block {
  font-weight: 500;
  line-height: 1.3;
}