/* ========== COMMON STYLES ========== */

:root {
  --mainColor: #e51937;
  --secondaryColor: #fff;
  --textColor: #000;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: var(--secondaryColor);
  color: var(--textColor);
  font-family: Montserrat, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.btn {
  background: var(--secondaryColor);
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  font-size: 13px;
  font-weight: 700;
  height: 40px;
  min-width: 160px;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    background: var(--mainColor);
    color: var(--secondaryColor);
    cursor: pointer;
  }

  &_color-red {
    background: var(--mainColor);
    border: 2px solid var(--secondaryColor);
    color: var(--secondaryColor);
    transition: all 0.3s;

    &:hover {
      background: var(--secondaryColor);
      color: var(--mainColor);
      cursor: pointer;
    }
  }
}

.order {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: 0 auto;

  &__more {
    align-items: center;
    background: inline(../images/info-icon.png) 0 50% no-repeat;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    min-height: 40px;
    padding-left: 30px;
    text-transform: uppercase;
  }
}
