/* ========== HEADER ========== */

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 60px 58px 42px;

  .logo {
    height: 51px;
    width: 166px;
  }

  .nav-center,
  .nav-right {
    align-items: center;
    display: flex;
    padding-top: 10px;
  }

  .link {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;

    &::after {
      background: transparent;
      content: '';
      display: block;
      height: 2px;
      margin-top: 6px;
      width: 100%;
      transition: all 0.3s;
    }

    &:hover {
      color: var(--mainColor);
    }

    &:hover::after {
      background: var(--mainColor);
    }
  }
}

.burger {
  cursor: pointer;
  min-height: 23px;
  min-width: 24px;
  position: relative;

  &__bar {
    background: var(--mainColor);
    border-radius: 10px;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.3s;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 7px;
    }

    &:nth-child(4) {
      top: 14px;
    }
  }
}
