/* ========== COMMON STYLES ========== */

html, body {
	height: 100%;
	width: 100%;
}

body {
	background: #fff;
	color: #000;
	font-family: Montserrat, Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	margin: 0;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.btn {
	background: #fff;
	color: #e51937;
	border: 2px solid #e51937;
	font-size: 13px;
	font-weight: 700;
	min-height: 40px;
	min-width: 160px;
	text-transform: uppercase;
	transition: all 0.3s;
}

.btn:hover {
	background: #e51937;
	color: #fff;
	cursor: pointer;
}

.btn_color-red {
	background: #e51937;
	border: 2px solid #fff;
	color: #fff;
	transition: all 0.3s;
}

.btn_color-red:hover {
	background: #fff;
	color: #e51937;
	cursor: pointer;
}

.order {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 350px;
}

.order__more {
	align-items: center;
	background: url(../images/info-icon.png) 0 50% no-repeat;
	display: flex;
	font-size: 13px;
	font-weight: 700;
	min-height: 40px;
	padding-left: 30px;
	text-transform: uppercase;
}

.section-title {
	font-size: 90px;
	font-weight: 600;
}

.section-title_big {
	color: #e51937;
	font-size: 14.5vw;
	opacity: .1;
}

.section-title_color-red {
	color: #e51937;
	font-size: 70px;
}

.section-subtitle {
	font-size: 30px;
	font-weight: 600;
}

.text-block {
	font-weight: 500;
	line-height: 1.3;
}

/* ========== HEADER ========== */

.header {
	display: flex;
	justify-content: space-between;
	padding: 24px 50px;
}

.logo {
	height: 51px;
	width: 166px;
}

.nav-center,
.nav-right {
	align-items: center;
	display: flex;
}

.link {
	color: inherit;
	font-weight: 600;
	min-height: 23px;
	text-decoration: none;
}

.nav-center__link + .nav-center__link  {
	margin-left: 44px;
}

.nav-center__link.active {
	color: #e51937;
}

.nav-center__link.active:after {
	background: #e51937;
	content: '';
	display: block;
	height: 2px;
	margin-top: 6px;
	width: 100%;
}

.nav-right__link {
	margin-right: 30px;
}

.burger {
	cursor: pointer;
	min-height: 23px;
	min-width: 24px;
	position: relative;
}

.burger__bar {
	background: #e51937;
	border-radius: 10px;
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	width: 100%;
}

.burger__bar:nth-child(1) {
	top: 0;
}

.burger__bar:nth-child(2), 
.burger__bar:nth-child(3) {
	top: 7px;
}

.burger__bar:nth-child(4) {
	top: 14px;
}

/* ========== HERO SECTION ========== */

.hero {
	align-items: center;
	background: url(../images/Tesla-Logo-Car.png) center center no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 700px;
	margin-bottom: 37px;
	padding-top: 24px;
	position: relative;
	width: 100%;
}

.hero__heading {
	text-align: center;
}

.hero__desc,
.hero__desc-left,
.hero__desc-right {
	align-items: center;
	display: flex;
}

.hero__desc {
	margin-bottom: 40px;
}

.hero__speed,
.hero__distance {
	min-width: 150px;
}

.hero__speed {
	background: url(../images/speed-icon.png) 0 5px no-repeat;
	padding-left: 60px;
}

.hero__distance {
	background: url(../images/road-icon.png) 0 5px no-repeat;
	padding-left: 40px;
}

.hero__speed-amount,
.hero__distance-amount {
	font-size: 35px;
	font-weight: 600;
}

.hero__speed-secs,
.hero__distance-kms {
	font-size: 20px;
	font-weight: 600;
}

.hero__speed-kms,
.hero__distance-range {
	font-size: 12px;
	text-transform: uppercase;
}

.hero__test {
	background: url(../images/wheel-icon.png) no-repeat;
	background-size: 12px;
	padding-left: 15px;
}

.hero__test-drive {
	font-size: 13px;
	font-weight: 700;
	margin-right: 40px;
	text-transform: uppercase;
}

.arrow {
	bottom: 0;
	position: absolute;
}

.arrow__icon {
	cursor: pointer;
	height: 14px;
	width: 28px;
}

/* ========== FUTURE SECTION ========== */

.future {
	display: flex;
	justify-content: space-between;
	min-height: 900px;
	width: 100%;
}

.future__heading {
	background: url(../images/2013-tesla-model-s-cockpit.png) bottom left no-repeat;
	width: calc(100% - 440px);
	height: 900px;
}

.future__heading-title {
	padding: 60px 0 0 80px;
}

.future__content {
	background: #e51937;
	color: #fff;
	max-height: 900px;
	max-width: 440px;
}

.future__content-block {
	max-width: 316px;
	padding: 51px 72px 171px 52px;
}

.future__content-title {
	margin-bottom: 11px;
}

.future__content-text {
	margin-bottom: 54px;
}

.future__item {
	min-height: 71px;
	margin-bottom: 25px;
	max-width: 170px;
	padding-left: 65px;
}

.future__item-number {
	font-size: 35px;
}

.future__item-title {
	font-size: 20px;
	font-weight: 600;
}

.future__item-text {
	font-size: 12px;
}

.future__item_bg-screen {
	background: url(../images/screen-icon.png) 0 3px no-repeat;
}

.future__item_bg-wifi {
	background: url(../images/wifi-icon.png) 0 3px no-repeat;
}

.future__item_bg-bag {
	background: url(../images/bag-icon.png) 0 3px no-repeat;
}

/* ========== SAFETY SECTION ========== */

.safety {
	display: flex;
	position: relative;
	width: 100%;
}

.safety__content {
	background: #e51937;
	color: #fff;
	min-height: 900px;
	max-height: 900px;
	max-width: 440px;
}

.safety__content-block {
	max-width: 316px;
	padding: 51px 68px 31px 56px;
}

.safety__content-title {
	margin-bottom: 11px;
}

.safety__content-text {
	margin-bottom: 49px;
}

.safety__defense-title {
	margin-bottom: 29px;
}

.safety__list {
	margin-bottom: 110px;
}

.safety__item {
	align-items: center;
	display: flex;
	min-height: 25px;
	margin-bottom: 12px;
}

.safety__item-text {
	font-size: 17px;
	font-weight: 700;
	min-width: 120px;
	margin-right: 31px;
	text-transform: uppercase;
}

.safety__item-stars {
	width: 100%;
}

.safety__item-side {
	font-size: 10px;
}

.safety__reward {
	background: url(../images/security-icon.png) no-repeat;
	font-weight: 600;
	margin-bottom: 60px;
	padding-left: 85px;
}

.safety__reward-stars {
	font-size: 50px;
}

.safety__reward-secure {
	font-size: 25px;
}

.safety__frame {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(100% - 440px);
}

.safety__frame-title {
	padding-top: 97px;
	text-align: right;
}

.safety__dev {
	align-self: flex-end;
	background: url(../images/whs-logo.png) right no-repeat;
	margin: 0 25px 22px 0;
	padding-right: 85px;
	min-height: 22px;
}

.safety__dev-text {
	font-size: 8px;
	font-weight: 700;
	padding-top: 5px;
	text-transform: uppercase;
}

.frame {
	max-width: 1049px;
	position: relative;
	margin-left: -127px;
	margin-top: -266px;
}

.frame__img {
	max-width: 100%;
}

.frame-mobile {
	display: none;
}

/* ========== ADAPTIVE ========== */

@media (min-width: 320px) and (max-width: 480px) {
	.header {
		padding: 5px 21px 0 2px;
	}

	.link {
		display: none;
	}

	.logo {
		height: 42px;
		width: 138px;
	}

	.hero {
		padding-top: 30px;
	}

	.section-title {
		font-size: 50px;
	}

	.hero {
		min-height: 500px;
	}

	.hero__heading-text {
		font-size: 10px;
	}

	.hero__desc {
		flex-direction: column;
	}

	.hero__speed {
		min-width: 127px;
	}

	.hero__distance {
		min-width: 115px;
	}

	.hero__speed-amount,
	.hero__distance-amount {
		font-size: 27px;
	}

	.hero__speed-secs,
	.hero__distance-kms {
		font-size: 15px;
	}

	.hero__speed-kms,
	.hero__distance-range {
		font-size: 10px;
	}

	.hero__desc-left {
		margin-bottom: 45px;
	}

	.hero__test {
		background: url(../images/wheel-red-icon.png) no-repeat;
		background-size: 12px;
		padding-left: 15px;
	}

	.hero__test-drive {
		color: #e51937;
	}

	.btn {
		background: #e51937;
		border: 2px solid #fff;
		color: #fff;
	}

	.future {
		flex-direction: column;
		justify-content: flex-start;
		min-height: 0;
	}

	.future__heading {
		background-size: 100%;
		max-height: 337px;
		width: 100%;
	}

	.future__heading-title,
	.future__desc,
	.future__order {
		display: none;
	}

	.future__content {
		max-height: 100%;
		max-width: 100%;
	}

	.future__content-block {
		max-width: 100%;
		padding: 18px 68px 30px;
	}

	.future__content-text {
		margin: 0;
	}

	.safety {
		flex-direction: column;
	}

	.safety__defense,
	.safety__reward,
	.safety__order {
		display: none;
	}

	.safety__content {
		min-height: 0;
		max-height: 100%;
		max-width: 100%;
	}

	.safety__content-block {
		max-width: 100%;
		padding: 18px 60px 50px;
	}

	.safety__content-text {
		margin-bottom: 0;
	}

	.safety__frame {
		min-height: 300px;
		order: -1;
		position: relative;
		width: 100%;
	}

	.safety__frame-title {
		padding-top: 30px;
		text-align: center;
	}

	.section-title_big {
		font-size: 15vw;
	}

	.safety__dev {
		display: none;
	}

	.frame {
		display: none;
	}

	.frame-mobile {
		display: block;
		position: absolute;
		left: 50%;
		top: 12%;
		transform: translateX(-50%);
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.safety {
		flex-direction: column;
	}

	.safety__defense,
	.safety__reward,
	.safety__order {
		display: none;
	}

	.safety__content {
		min-height: 0;
		max-height: 100%;
		max-width: 100%;
	}

	.safety__content-block {
		max-width: 100%;
		padding: 18px 60px 50px;
	}

	.safety__content-text {
		margin-bottom: 0;
	}

	.safety__frame {
		min-height: 300px;
		order: -1;
		position: relative;
		width: 100%;
	}

	.safety__frame-title {
		padding-top: 30px;
		text-align: center;
	}

	.section-title_big {
		font-size: 15vw;
	}

	.safety__dev {
		display: none;
	}

	.frame {
		display: none;
	}

	.frame-mobile {
		display: block;
		position: absolute;
		left: 50%;
		top: 17%;
		transform: translateX(-50%);
	}
}

@media (min-width: 769px) and (max-width: 960px) {
	.section-title_big {
		font-size: 10vw;
		margin-bottom: 278px;
	}
}

@media (min-width: 961px) and (max-width: 1024px) {
	.section-title_big {
		font-size: 12vw;
		margin-bottom: 228px;
	}
}

@media (min-width: 1025px) and (max-width: 1200px) {
	.section-title_big {
		font-size: 13vw;
		margin-bottom: 208px;
	}
}